.button {
  font-family: inherit;
  font-size: inherit;
  color: var(--color-white);
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  cursor: pointer;
}

.solid {
  background: var(--color-purple);
  border: none;
}

.outlined {
  background: transparent;
  border: 0.2rem solid white;
}
