.footer {
  background: var(--color-purple-blue);
  color: var(--color-white);

  display: grid;
  padding: 3rem 5%;
  grid-template-columns: minmax(5rem, 15rem) minmax(5rem, auto) 1fr;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  margin: 0.75rem 0;
  font-weight: 400;
  font-size: 1rem;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.columns > div {
  margin: 0 2rem;
}

.column-header {
  font-weight: 600;
  font-size: 1.25rem;
}

.right {
  text-align: right;
}

@media (max-width: 850px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer > * {
    padding: 20px 0px;
  }
  
  .right, .columns {
    text-align: center;
  }
}
