.container {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  padding-left: 10px;
  font-size: 21px;
  letter-spacing: 0.8px;
}
