.container {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  padding-left: 1rem;
  font-size: 2.1rem;
  letter-spacing: 0.08rem;
}
