.nav {
  background: var(--color-purple-blue);
  color: var(--color-white);
  font-size: 18px;
  padding: 10px 5%;
  display: grid;
  grid-template-columns: 1fr auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right > ul {
  display: flex;
  align-items: center;

  margin: 0;
  padding: 0;
  width: fit-content;
  list-style: none;
}

.right > ul > li {
  padding-left: 40px;
  font-weight: 400;
}

.button {
  width: auto;
  border-radius: 12px;
  cursor: pointer;
  background: transparent;
  border: 2px solid white;
  font-weight: 500;
}

.button > a {
  display: block;
  height: 100%;
  width: 100%;
  padding: 10px 20px;
  text-decoration: none;
}

.button:hover {
  background: var(--color-purple);
  border-color: transparent;
}

@media (max-width: 500px) {
  .nav {
  }
}
