.nav {
  background: var(--purple-blue);
  color: var(--light);
  padding: 20px 5%;
  display: grid;
  grid-template-columns: 1fr auto;
}

.left, .right {
  display: flex;
  align-items: center;
}

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end; 
}

.right > ul {
  display: flex;
  align-items: center;

  margin: 0px;
  padding: 0px;
  width: fit-content;
  list-style: none;
}

.right > ul > li {
  padding-left: 40px;
}
