.event {
  width: 80%;
  min-height: 40%;
  /* border-color: var(--purple);
  border-width: 2px;
  border-style: solid; */
  margin: 0 auto;
}

.imageContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  width: 100%;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  margin: 1rem;
}

.buttonContainer > * {
  margin-right: 1rem;
}
