@font-face {
  font-family: "Roobert";
  src: url("../public/fonts/Roobert/Roobert-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Roobert";
  src: url("../public/fonts/Roobert/Roobert-Medium.ttf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Roobert";
  src: url("../public/fonts/Roobert/Roobert-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Roobert";
  src: url("../public/fonts/Roobert/Roobert-Bold.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Roobert", sans-serif;
  font-size: 16px;
  line-height: 1.5;

  --color-light-purple: #e8e4ff;
  --color-purple: #7b69ec;
  --color-blue: #33c2ff;
  --color-purple-blue: linear-gradient(
    90deg,
    var(--color-purple) 0%,
    var(--color-blue) 100%
  );

  --color-black: #212121;
  --color-dark-gray: #565656;
  --color-gray: #858585;
  --color-light-gray: #e6e6e6;
  --color-white: #fff;
}

* {
  z-index: 1000;
  position: relative;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

main {
  min-height: 100vh;
  overflow: hidden;
}

section {
  margin: 100px 15%;
}

a {
  color: inherit;
  text-decoration: none;
  text-underline-position: under;
}

a:visited {
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-weight: 600;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.75rem;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.25rem;
}

p {
  font-size: 1.25rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.splash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
  width: 100vw;
  background: var(--color-purple-blue);
  color: var(--color-white);
  padding: 0px 15%;
  min-height: 500px;
  overflow: hidden;
}

.splash p {
  margin-bottom: 80px;
}

.splash-main {
  min-height: 700px;
}

.splash-main-text {
  max-width: 600px;
}

.sub-title {
  font-size: 2.5rem;
  margin: 0px;
}

.hex-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 800;
}

.dummy-card {
  width: 300px;
  height: 300px;
  background: grey;
  margin: 20px;
}

.max-width-400 {
  max-width: 400px;
}

.max-width-600 {
  max-width: 600px;
}

.bold {
  font-weight: bold;
}

.button-link-solid {
  background: var(--color-purple);
  color: var(--color-white);
  padding: 0.55em 2.2rem;
  border-radius: 0.4rem;
}

.button-link-solid:hover {
  text-decoration: none;
  background: #E3DFFE;
  color: black !important;
}

a.button-link-solid:visited {
  color: var(--color-white);
}