html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roobert", sans-serif;

  --purple: #7B69EC;
  --blue: #33C2FF;
  --purple-blue: linear-gradient(90deg, var(--purple) 0%, var(--blue) 100%);

  --light: white;
  --dark: black;
}

* {
  box-sizing: border-box;
}

main {

}

a {
  color: inherit; 
}

a:visited {
  color: inherit; 
}

a:hover {

}

a:focus {

}

.bold {
  font-weight: bold;
}

.align-right {
  text-align: right;
}
