@import url("http://fonts.cdnfonts.com/css/roobert");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roobert", sans-serif;

  --purple: #7B69EC;
  --blue: #33C2FF;
  --purple-blue: linear-gradient(90deg, var(--purple) 0%, var(--blue) 100%);

  --light: white;
  --dark: black;
}

* {
  box-sizing: border-box;
}

main {
  margin: 40px 12%;
  min-height: 100vh;
}

a {
  color: inherit; 
  text-decoration: none;
}

a:visited {
  color: inherit; 
}

a:hover {
  text-decoration: underline;
}

a:focus {

}

.bold {
  font-weight: bold;
}

.align-right {
  text-align: right;
}

.button-link {
  width: auto;
  border-radius: 8px;
  cursor: pointer;
}

.button-link > a {
  display: block;
  height: 100%;
  width: 100%;
  padding: 10px 20px;
  text-decoration: none;
}

.button-link:hover {
  background: var(--purple);
  border-color: transparent;
}

.solid {
  background: var(--purple);
  border: none;
}

.outlined {
  background: transparent;
  border: 2px solid white;
}

